@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html, body {
   
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: auto;
    
    
}

.extra {
    height: 105%;
    background: url(../images/fondo.png)no-repeat center center fixed;
    background-repeat:repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-y: auto;
}

.extra1 {
    height: 100%;
    background: url(../images/registro.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.extra2 {
    background: url(../images/estudianteprincipal.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.extra3 {
    background: url(../images/recuperar.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-top: 5%;
}



.titulo {
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 7%;
}
.titulo3 {
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 1%;
}

.tituloF {
    align-items: center;
    text-align: center;
    justify-content: center;
}

.mensaje {
    margin-top: 7%;
}

.espacio {
    margin-top: 5%;
    align-content: center;
    align-items: center;
    
}

.espacio1 {
    margin-top: 30px;
}

.opciones {
    padding: 0;
}

.radioboton{
    padding-left:20%;
}

.checkfont{
    font-weight:bold;
}

.wrapper{
    
    width: 600px;
    margin-left: 6%;
    margin-right: auto;
    /*border: 3px solid #73AD21;*/
}

.wrappertable{
    
    width: 700px;
    margin-left: 6%;
    margin-right: auto;
    /*border: 3px solid #73AD21;*/
}


/*
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #343a40;
    border-color: #005cbf;
}*/

@media only screen and (max-width: 500px) {
    .esconder {
        display: none;
    }
    .esconder1{
        margin: 0%;
        padding: 0%;
    }
}


/*---Media Queries --*/
@media (max-width: 992px) {
}



@media (max-width: 768px) {
}

@media (max-width: 576px) {
}

/*--- Fixed Background Image --*/

/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/

.container1 {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    /* Hide the browser's default radio button */
    .container1 input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container1:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container1 input:checked ~ .checkmark {
    background-color: #0a6ebd;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container1 input:checked ~ .checkmark:after {
    display: block;
}
/*
/* Style the indicator (dot/circle) */
.container1 .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

.btnEnviar {
    font-family: Arial;
    color: #ffffff;
    font-size: 16px;
    background: #3f88b8;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  /*  
  input[type="file"] {
    display: none !important;
  }*/

 .scrollable{
      height: 400px;
      overflow: scroll;
  }

.titulotabla{
        background-color: #cccccc ;
}

td{
    padding-left: 5px !important;
    
  }
tr{
    padding-left: 5px !important; 
    
}

th{
    padding-left: 5px !important;
    
  }

table {
    border-collapse: collapse;
    
}
.h3{  
    margin-left: 15%;
}

.btn-info{
    margin-left: 20%;
}

.wrapper10{
    width: 300px;
    margin: 0 auto;
}

.hidden { display: none; }

a.more {
    display: block;
    width: 115px;
    height: 35px;
    background: #d9534f;
    padding: 5px;
    font-weight: bold;
    border-radius: 5px;
    color: white;
   
}

h1{
    font-size: 25px;
}

.tituloespacio{
    margin-bottom: 15px;
}

.botonAceptar{
    margin-bottom: 8px;
}

.botonEspacio1{
    margin-bottom: 25px;
}

.modal-content{
    padding: 4%;    
}

.margen1{
    border: 1px solid;    
    padding-left:20px;    
}

.footer {
    position:absolute;    
    left: 0;
    bottom: 0;
    width: 100%;
    opacity: 1;
    background-color: rgba(0,0,0,0.0);
    text-align: center;
    clear:both;
}

.blink {
    color: white;
    background-color: green;
  }

h2.centro {
    text-align: center;
    margin-bottom: 20px;
  }

  h2.temporal {
    text-align: center;
    margin-bottom: 5px;
    color: red;
    
  }

